<!--The content below is only a placeholder and can be replaced.-->

<div class="slds-page-header">
  <div class="slds-media">
    <div class="slds-media__figure">
      <span class="slds-icon_container slds-icon-standard-opportunity" title="Description of icon when needed">
          <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
          </svg>
      </span>
    </div>
    <div class="slds-media__body">
      <h1 class="slds-page-header__title slds-truncate slds-align-middle" title="JSTask">JSTask Done!</h1>
      <p class="slds-text-body_small slds-line-height_reset">Roman Bylina • Junior Developer • 01/12/17</p>
    </div>
  </div>
</div>


<app-table></app-table>
<app-cell></app-cell>



