<div id="wi">
    <div>
        <table style="float: left" class="slds-table slds-table_bordered slds-table_cell-buffer">
            <tbody>
                <tr *ngFor="let element of rows" class="slds-no-row-hover">
                    <td *ngFor="let cell of element.row" (click)="toggle(cell)" [ngClass]="{'maxCol': sumRow == cell.RowCoord__c, 'maxRow': sumCol == cell.ColumnCoord__c}">
                        <div *ngIf="cell.Id !== editCell.Id" >
                            {{cell.Value__c}}
                        </div>
                        <div *ngIf="cell.Id == editCell.Id && cell.Value__c !== null" >
                            <input type="number" [(ngModel)]="cell.Value__c" (ngModelChange)="saveValue($event, cell)" autofocus class="slds-input">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>    
        <div style="float: left;" (click)="addColumn()" class="slds-icon_container slds-icon-action-new svg">
            <svg aria-hidden="true" class="slds-icon slds-icon--x-small">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/action-sprite/svg/symbols.svg#new"></use>
            </svg>
        </div>  
    </div>  
    <div style="clear: left"></div>
    <div  (click)="addRow()" class="slds-icon_container slds-icon-action-new svg">
        <svg aria-hidden="true" class="slds-icon slds-icon--x-small" >
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/apexpages/slds/latest/assets/icons/action-sprite/svg/symbols.svg#new"></use>
        </svg>
    </div>
    
    <div style="margin-left: 10px">
        Cells counter: {{sum}}
    </div>    
</div>







