table {
  width: 90%;  
}


td, th {
  border: 1px solid #dddddd;
  height: 40px;
  width: 120px;
}

/* .qwer {
  padding: 10px;
  cursor: pointer;
  width: 20px;
}  */
.maxCol {
  background-color: #d9ffdf;
}

.svg {
  cursor: pointer;
  margin: 5px;
}

.maxRow {
  background-color: #ffb75d;
}




